/*
 * File: App.css
 * Project: leanscale_react
 * Author: Emre Tosun (emre@emretosun.dev)
 * -----
 * Last Modified: 2022
 * Modified By: Emre Tosun (emre@emretosun.dev)
 * -----
 * Copyright 2022 - 2022 Emre Tosun
 */
@import "~antd/dist/antd.css";
.site-layout-content {
	min-height: 85vh;
	padding: 24px;
	background: #fff;
}
.header-cname {
	float: left;

	margin: 0 24px 0 0;
	padding: 0 10px;
	color: white;
	align-items: baseline;
}
.ant-card-meta-detail {
	width: 100%;
}
.ant-card-meta-description {
	float: right;
}
.ant-list-item {
	padding: 16px 0 !important;
}
.ant-list-item-action {
	display: flex;
	align-items: center;
}
.co-product-price {
	display: flex;
	justify-content: space-between;
}
